@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Agri-Energy-Connect</h1>
    <p>In response to the growing need for sustainable agricultural practices and the integration of green
        energy solutions in South Africa, a visionary initiative named “Agri-Energy Connect” has been
        conceptualised. This initiative seeks to develop an innovative web platform that bridges the gap
        between the agricultural sector and green energy technology providers</a>.</p>
</div>
